[data-theme="dark"] {
  --text-color-primary: #ffffff;
  --text-color-gray: #9a9fae;
  --text-color-light: #f8f8f8;
  --text-color-black: #1a1a1a;
  --text-alert: #c71700;
  --email-green: #50C878;
  --email-yellow: #dcc944;
  --email-red: #c71700;
  --background: #120e1c;
  --background-word: #3D2A5A;
  --button-color: #50C878;
  --button-send-color: #dcc944;
  --button-exit-color: #c71700;
  --blur: blur(8px);
  --text-stroke: 2px;
  --input-border: #A782FF;
  --input-border-error: #c71700;
  --logo-gradient: -webkit-linear-gradient(0deg, #dcc944 10%, #FCF58D 50%, #a960f5 90%);
  --glass-border: rgba(210, 210, 210, 0.2);
  --glass-background: rgba(143, 143, 143, 0.1);
}

