[data-theme="light"] {
  --text-color-primary: #2C2044;
  --text-color-gray: #6a6f7e;
  --text-color-light: #f8f8f8;
  --text-color-black: #1a1a1a;
  --text-alert: #c71700;
  --email-green: #50C878;
  --email-yellow: #dcc944;
  --email-red: #c71700;
  --background: #FFFFFF;
  --background-word: #8c8a00;
  --button-color: #50C878;
  --button-send-color: #dcc944;
  --button-exit-color: #c71700;
  --blur: blur(8px);
  --text-stroke: 3px;
  --input-border: #A782FF;
  --logo-gradient: -webkit-linear-gradient(0deg, #A782FF 10%, #9870cc 50%, #4d2e8c 90%);
  --glass-border: rgba(44, 32, 68, 0.2);
  --glass-background: rgba(44, 32, 68, 0.05);
}

