@use 'screens' as *;

html {
  overflow: scroll;
}

h1 {
  font-size: 2.2rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 2.1rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 2rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.9rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.4rem;
  }
}

h5 {
  font-size: 1.8rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.3rem;
  }
}

h6 {
  font-size: 1.4rem;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 1.3rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 1.2rem;
  }
}

p,
q {
  font-size: 1.2rem;
  margin: 0;
  @media screen and (max-width: $screen-lg) {
    font-size: 1rem;
  }
  @media screen and (max-width: $screen-xs) {
    font-size: 0.9rem;
  }
  @media screen and (max-width: $screen-xss) {
    font-size: 0.8rem;
  }
}

label {
  font-size: 1rem;
  color: #6a6f7e !important;
  margin: 0;
  @media screen and (max-width: $screen-sm) {
    font-size: 0.8rem;
  }
}

input {
  font-family: 'Fusion Pixel 10px Proportional KR', sans-serif;
  color: #2c2044;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dark input {
  color: #ffffff;
}

.light html {
  background-color: #eaeaea3b;
  color: #2c2044;
}

.dark html {
  background-color: #120e1c;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fusion Pixel 10px Proportional KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  background-color: #eaeaea3b;
  color: #2c2044;

  .displayed {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;

    @media screen and (max-width: $screen-xl) {
      width: 35rem;
    }

    @media screen and (max-width: $screen-lg) {
      width: 30rem;
    }

    @media screen and (max-width: $screen-sm) {
      width: 95%;
    }
  }

  .logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__second {
      background: -webkit-linear-gradient(0deg, #a782ff 10%, #9870cc 50%, #4d2e8c 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .light &__second {
      background: -webkit-linear-gradient(0deg, #a782ff 10%, #9870cc 50%, #4d2e8c 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .dark &__second {
      background: -webkit-linear-gradient(0deg, #dcc944 10%, #fcf58d 50%, #a960f5 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.dark body {
  background-color: #120e1c;
  color: #ffffff;
}

.blur__glass {
  filter: none !important;
  -webkit-filter: none !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 3rem;
  padding: 2rem;
  border: 1px solid rgba(44, 32, 68, 0.2);
  background: rgba(44, 32, 68, 0.05);
}

.dark .blur__glass {
  border: 1px solid rgba(210, 210, 210, 0.2);
  background: rgba(143, 143, 143, 0.1);
}

.transparent__glass {
  filter: none !important;
  -webkit-filter: none !important;
  border-radius: 3rem;
  padding: 2rem;
  border: 1px solid rgba(44, 32, 68, 0.2);
  background: rgba(44, 32, 68, 0.05);
}

.dark .transparent__glass {
  border: 1px solid rgba(210, 210, 210, 0.2);
  background: rgba(143, 143, 143, 0.1);
}
